.calculator{
    padding:10px;
    border-radius:8px;
    font-weight:bold;
    height:400px;
    width:500px;
    margin:auto;
    background-color:rgba(0, 0, 0, 0.993);
    box-shadow:6px 6px 9px  rgba(163, 40, 2, 0.993) ;
}
.display-box{
    font-family:sans-serif;
    font-weight:bold;
    background-color:#96959b;
    box-shadow:inset 5px 5px 5px white;
    border:0.5px solid black ;
    width:98%;
    height:65%;
    border-radius:3px;
}
#btn, #btn2 {
    background-color:rgb(13, 45, 187);
    box-shadow:inset 5px 5px 3px rgb(1, 18, 253);
}
#btn:active{
    background:#6e6e6e;
    box-shadow:inset 0px 0px 5px #c1c1c1;
}
#btn2:active {
    background:#6e6e6e;
    box-shadow:inset 0px 0px 5px #c1c1c1;
}
input[type="button"] {
    font-family:sans-serif;
    background-color:rgb(189, 79, 15);
    color:black;
    border:0.5px solid black;
    border-radius:3px;
    height:70%;
    width:100%;
    outline:none;
    box-shadow:inset 5px 5px 3px rgb(248, 151, 6);
}
input:active[type="button"] {
    background:#6e6e6e;
    box-shadow:inset 0px 0px 5px #c1c1c1;
}
